<p id="notice"><%= notice %></p>
<h2>Sponsor Detail</h2>


<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>

<% content_for(:sidebar) do %>
	<%= render(partial: "sponsor_events", object: @sponsor) %>
<% end %>
